bin/
obj/
*.dll
*.pdb
*.user
*.suo
.vs/
.idea/
*.nupkg
artifacts/
artifacts/
*.zip

# e2e
e2e/node_modules/
e2e/.artifacts/
e2e/test-results/
e2e/playwright-report/

# android e2e
e2e/android/.artifacts/

# release notes
release-notes-*.md
